In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

In [2]:
tr = pd.read_csv("trial.csv")
aud_risk = pd.read_csv("audit_risk.csv")

In [3]:
tr.describe()

,Sector_score,PARA_A,SCORE_A,PARA_B,SCORE_B,TOTAL,numbers,Marks,Money_Value,MONEY_Marks,District,Loss,LOSS_SCORE,History,History_score,Score,Risk
count,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,775.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000
mean,20.184536,2.450194,3.512887,10.799988,3.131443,13.218481,5.067655,2.237113,14.137631,2.909794,2.505155,0.029639,2.061856,0.104381,2.167526,2.702577,0.626289
std,24.319017,5.678870,1.740549,50.083624,1.698042,51.312829,0.264449,0.803517,66.606519,1.597452,1.228678,0.184280,0.375080,0.531031,0.679869,0.858923,0.484100
min,1.850000,0.000000,2.000000,0.000000,2.000000,0.000000,5.000000,2.000000,0.000000,2.000000,2.000000,0.000000,2.000000,0.000000,2.000000,2.000000,0.000000
25%,2.370000,0.210000,2.000000,0.000000,2.000000,0.537500,5.000000,2.000000,0.000000,2.000000,2.000000,0.000000,2.000000,0.000000,2.000000,2.000000,0.000000
50%,3.890000,0.875000,2.000000,0.405000,2.000000,1.370000,5.000000,2.000000,0.090000,2.000000,2.000000,0.000000,2.000000,0.000000,2.000000,2.400000,1.000000
75%,55.570000,2.480000,6.000000,4.160000,4.000000,7.707500,5.000000,2.000000,5.595000,4.000000,2.000000,0.000000,2.000000,0.000000,2.000000,3.250000,1.000000
max,59.850000,85.000000,6.000000,1264.630000,6.000000,1268.910000,9.000000,6.000000,935.030000,6.000000,6.000000,2.000000,6.000000,9.000000,6.000000,5.200000,1.000000

In [4]:
aud_risk.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
count,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,...,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.000000,776.0,776.000000,776.000000
mean,20.184536,2.450194,0.351289,1.351029,10.799988,0.313144,6.334008,13.218481,5.067655,0.223711,...,0.519072,0.104381,0.216753,0.053608,2.702577,17.680612,0.572680,0.5,7.168158,0.393041
std,24.319017,5.678870,0.174055,3.440447,50.083624,0.169804,30.072845,51.312829,0.264449,0.080352,...,0.290312,0.531031,0.067987,0.305835,0.858923,54.740244,0.444581,0.0,38.667494,0.488741
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.400000,0.400000,0.5,0.280000,0.000000
25%,2.370000,0.210000,0.200000,0.042000,0.000000,0.200000,0.000000,0.537500,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.000000,1.583500,0.400000,0.5,0.316700,0.000000
50%,3.890000,0.875000,0.200000,0.175000,0.405000,0.200000,0.081000,1.370000,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,2.400000,2.214000,0.400000,0.5,0.555600,0.000000
75%,55.570000,2.480000,0.600000,1.488000,4.160000,0.400000,1.840500,7.707500,5.000000,0.200000,...,0.400000,0.000000,0.200000,0.000000,3.250000,10.663500,0.400000,0.5,3.249900,1.000000
max,59.850000,85.000000,0.600000,51.000000,1264.630000,0.600000,758.778000,1268.910000,9.000000,0.600000,...,2.400000,9.000000,0.600000,5.400000,5.200000,801.262000,5.800000,0.5,961.514400,1.000000

In [5]:
tr.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'SCORE_A', 'PARA_B', 'SCORE_B',
       'TOTAL', 'numbers', 'Marks', 'Money_Value', 'MONEY_Marks', 'District',
       'Loss', 'LOSS_SCORE', 'History', 'History_score', 'Score', 'Risk'],
      dtype='object')

In [6]:
aud_risk.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Detection_Risk', 'Audit_Risk', 'Risk'],
      dtype='object')

In [7]:
trialB = tr.drop(['Risk'], axis = 1)

In [9]:
trialB.rename(columns = {'SCORE_A':'Score_A'}, inplace = True)
trialB.rename(columns = {'SCORE_B':'Score_B'}, inplace = True)
trialB['Score_A'] = trialB['Score_A']/10
trialB['Score_B'] = trialB['Score_B']/10

In [14]:
intersected_columns = np.intersect1d(aud_risk.columns, trialB.columns)
intersected_columns

array(['History', 'LOCATION_ID', 'Money_Value', 'PARA_A', 'PARA_B',
       'Score', 'Score_A', 'Score_B', 'Sector_score', 'TOTAL', 'numbers'],
      dtype=object)

In [18]:
combined_df = pd.merge(aud_risk, trialB, how='outer', on = ['History', 'LOCATION_ID', 'Money_Value', 'PARA_A', 'PARA_B',
       'Score', 'Score_A', 'Score_B', 'Sector_score', 'TOTAL', 'numbers'])
combined_df.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Detection_Risk', 'Audit_Risk', 'Risk', 'Marks', 'MONEY_Marks',
       'District', 'Loss', 'LOSS_SCORE', 'History_score'],
      dtype='object')

In [19]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 810 entries, 0 to 809
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sector_score    810 non-null    float64
 1   LOCATION_ID     810 non-null    object
 2   PARA_A          810 non-null    float64
 3   Score_A         810 non-null    float64
 4   Risk_A          810 non-null    float64
 5   PARA_B          810 non-null    float64
 6   Score_B         810 non-null    float64
 7   Risk_B          810 non-null    float64
 8   TOTAL           810 non-null    float64
 9   numbers         810 non-null    float64
 10  Score_B.1       810 non-null    float64
 11  Risk_C          810 non-null    float64
 12  Money_Value     809 non-null    float64
 13  Score_MV        810 non-null    float64
 14  Risk_D          810 non-null    float64
 15  District_Loss   810 non-null    int64
 16  PROB            810 non-null    float64
 17  RiSk_E          810 non-null    float64
 18  History         810 non-null    int64
 19  Prob            810 non-null    float64
 20  Risk_F          810 non-null    float64
 21  Score           810 non-null    float64
 22  Inherent_Risk   810 non-null    float64
 23  CONTROL_RISK    810 non-null    float64
 24  Detection_Risk  810 non-null    float64
 25  Audit_Risk      810 non-null    float64
 26  Risk            810 non-null    int64
 27  Marks           810 non-null    int64
 28  MONEY_Marks     810 non-null    int64
 29  District        810 non-null    int64
 30  Loss            810 non-null    int64
 31  LOSS_SCORE      810 non-null    int64
 32  History_score   810 non-null    int64
dtypes: float64(23), int64(9), object(1)
memory usage: 215.2+ KB

In [20]:
combined_df['Money_Value'] = combined_df['Money_Value'].fillna(combined_df['Money_Value'].median())
combined_df.describe()

,Sector_score,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,Score_B.1,...,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk,Marks,MONEY_Marks,District,Loss,LOSS_SCORE,History_score
count,810.000000,810.000000,810.000000,810.000000,810.000000,810.000000,810.000000,810.000000,810.000000,810.000000,...,810.000000,810.0,810.000000,810.000000,810.000000,810.000000,810.000000,810.000000,810.000000,810.000000
mean,21.406716,2.348556,0.344938,1.294561,10.347643,0.308395,6.068334,12.665829,5.064815,0.222716,...,0.567407,0.5,6.881682,0.379012,2.227160,2.871605,2.493827,0.028395,2.059259,2.160494
std,24.760476,5.579501,0.173042,3.378180,49.067564,0.167741,29.461510,50.292444,0.259188,0.078789,...,0.437573,0.0,37.871031,0.485441,0.787889,1.574145,1.219166,0.180464,0.367323,0.666277
min,1.850000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,5.000000,0.200000,...,0.400000,0.5,0.280000,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,2.000000
25%,2.370000,0.070000,0.200000,0.014000,0.000000,0.200000,0.000000,0.430000,5.000000,0.200000,...,0.400000,0.5,0.312900,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,2.000000
50%,3.890000,0.820000,0.200000,0.164000,0.335000,0.200000,0.067000,1.290000,5.000000,0.200000,...,0.400000,0.5,0.470800,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,2.000000
75%,55.570000,2.397500,0.600000,1.438500,2.985000,0.400000,1.347000,7.337500,5.000000,0.200000,...,0.400000,0.5,2.882700,1.000000,2.000000,2.000000,2.000000,0.000000,2.000000,2.000000
max,59.850000,85.000000,0.600000,51.000000,1264.630000,0.600000,758.778000,1268.910000,9.000000,0.600000,...,5.800000,0.5,961.514400,1.000000,6.000000,6.000000,6.000000,2.000000,6.000000,6.000000

In [21]:
combined_df = combined_df.drop_duplicates(keep = 'first')
print("Total number of rows in the dataset: ",len(combined_df))

Total number of rows in the dataset:  763

In [22]:
combined_df["LOCATION_ID"].unique()

array(['23', '6', '7', '8', '13', '37', '24', '3', '4', '14', '5', '20',
       '19', '21', '22', '9', '11', '12', '29', '30', '38', '31', '2',
       '32', '16', '33', '15', '36', '34', '18', '25', '39', '27', '35',
       '40', '41', '42', '1', '28', 'LOHARU', 'NUH', 'SAFIDON', '43',
       '44', '17'], dtype=object)

In [23]:
combined_df = combined_df[(combined_df.LOCATION_ID != 'LOHARU')]
combined_df = combined_df[(combined_df.LOCATION_ID != 'NUH')]
combined_df = combined_df[(combined_df.LOCATION_ID != 'SAFIDON')]
print("Total number of rows in the dataset: ",len(combined_df))

Total number of rows in the dataset:  760

In [24]:
combined_df = combined_df.astype(float)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 809
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sector_score    760 non-null    float64
 1   LOCATION_ID     760 non-null    float64
 2   PARA_A          760 non-null    float64
 3   Score_A         760 non-null    float64
 4   Risk_A          760 non-null    float64
 5   PARA_B          760 non-null    float64
 6   Score_B         760 non-null    float64
 7   Risk_B          760 non-null    float64
 8   TOTAL           760 non-null    float64
 9   numbers         760 non-null    float64
 10  Score_B.1       760 non-null    float64
 11  Risk_C          760 non-null    float64
 12  Money_Value     760 non-null    float64
 13  Score_MV        760 non-null    float64
 14  Risk_D          760 non-null    float64
 15  District_Loss   760 non-null    float64
 16  PROB            760 non-null    float64
 17  RiSk_E          760 non-null    float64
 18  History         760 non-null    float64
 19  Prob            760 non-null    float64
 20  Risk_F          760 non-null    float64
 21  Score           760 non-null    float64
 22  Inherent_Risk   760 non-null    float64
 23  CONTROL_RISK    760 non-null    float64
 24  Detection_Risk  760 non-null    float64
 25  Audit_Risk      760 non-null    float64
 26  Risk            760 non-null    float64
 27  Marks           760 non-null    float64
 28  MONEY_Marks     760 non-null    float64
 29  District        760 non-null    float64
 30  Loss            760 non-null    float64
 31  LOSS_SCORE      760 non-null    float64
 32  History_score   760 non-null    float64
dtypes: float64(33)
memory usage: 201.9 KB

In [26]:
import numpy as np


corr_matrix = combined_df.corr().abs()


upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))


columns = [column for column in upper.columns if any(upper[column] > 0.9)]

columns.append('Risk')
df = combined_df[columns]

In [34]:
df.columns

Index(['Risk_A', 'Risk_B', 'TOTAL', 'Score_B.1', 'Risk_C', 'Risk_D', 'RiSk_E',
       'Risk_F', 'Score', 'Marks', 'MONEY_Marks', 'District', 'Loss',
       'LOSS_SCORE', 'History_score', 'Risk'],
      dtype='object')

In [43]:
x = df.drop(['Risk'], axis = 1)
y = df['Risk']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4, random_state = 0)

In [36]:
dt = DecisionTreeClassifier(random_state = 0)
grid_param = {'max_depth': [3, 5, 7, 9, 11, 15]}
dt_grid = GridSearchCV(dt, grid_param, cv = 5, n_jobs = -1)
dt_grid.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(random_state=0), n_jobs=-1,
             param_grid={'max_depth': [3, 5, 7, 9, 11, 15]})

In [38]:
print("Best Parameters for Decision Tree Classifier: ", dt_grid.best_params_)

Best Parameters for Decision Tree Classifier:  {'max_depth': 5}

In [39]:
dt = DecisionTreeClassifier(max_depth = 5, random_state=0)
bag = BaggingClassifier(dt, random_state = 0)
grid_param = {'n_estimators': [100, 500, 1000],'max_samples': [0.1, 0.5, 1.0]}
bag_dt_grid = GridSearchCV(bag, grid_param, cv = 5, n_jobs = -1, return_train_score= True)
bag_dt_grid.fit(x_train, y_train)

GridSearchCV(cv=5,
             estimator=BaggingClassifier(base_estimator=DecisionTreeClassifier(max_depth=5,
                                                                               random_state=0),
                                         random_state=0),
             n_jobs=-1,
             param_grid={'max_samples': [0.1, 0.5, 1.0],
                         'n_estimators': [100, 500, 1000]},
             return_train_score=True)

In [40]:
print("Best Parameters for Bagging Classifier: ", bag_dt_grid.best_params_)

Best Parameters for Bagging Classifier with Pasting:  {'max_samples': 1.0, 'n_estimators': 100}

In [41]:
bag = BaggingClassifier(dt, n_estimators = 500, max_samples = 0.5, n_jobs = -1, bootstrap = False, random_state = 0)
bag.fit(x_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(max_depth=5,
                                                        random_state=0),
                  bootstrap=False, max_samples=0.5, n_estimators=500, n_jobs=-1,
                  random_state=0)

In [1]:
print(" Training Score: ", bag.score(x_train, y_train))
print(" Testing Score: ", bag.score(x_test, y_test))

NameError: name 'bag' is not defined